<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:netkernel:mod:restassured</uri>
			<version>1.1.1</version>
		</identity>
		<info>
			<name>DSL Runtime / REST-Assured</name>
			<description>REST-Assured DSL runtime</description>
			<icon>res:/org/netkernel/mod/restassured/doc/icon.png</icon>
		</info>
	</meta>
	<system>
		<dynamic/>
		<classloader>
			<exports>
				<match>com\.jayway\.restassured\..*</match>
			</exports>
		</classloader>
	</system>

	<rootspace>
		<accessor>
			<id>mod.restassured.RESTAssured</id>
			<grammar>
				<active>
					<identifier>active:RESTAssured</identifier>
					<argument name="operator"/>
					<varargs/>
				</active>
			</grammar>
			<class>org.netkernel.mod.restassured.RESTAssuredRuntime</class>
		</accessor>
		<import>
			<uri>urn:org:netkernel:mod:restassured:userconfig</uri>
		</import>
		<import>
			<private/>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<private/>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<fileset>
			<regex>res:/org/netkernel/mod/restassured/doc/.*</regex>
		</fileset>
	</rootspace>

	<rootspace uri="urn:org:netkernel:mod:restassured:userconfig" public="false">
		<mapper>
			<config>res:/org/netkernel/mod/restassured/userconfig/mappings.xml</config>
			<space>
				<fileset>
					<regex>res:/org/netkernel/mod/restassured/userconfig/.*</regex>
				</fileset>
			</space>
		</mapper>
		<fileset>
			<regex>res:/org/netkernel/mod/restassured/userconfig/.*</regex>
		</fileset>
		<import>
			<uri>urn:org:netkernel:mod:pds</uri>
		</import>
		<import>
			<uri>urn:org:netkernel:mod:pds:memory</uri>
		</import>
		<import>
			<private/>
			<uri>urn:org:netkernel:lang:groovy</uri>
		</import>
		<import>
			<private/>
			<uri>urn:org:netkernel:ext:layer1</uri>
		</import>
		<literal uri="res:/etc/pdsConfig.xml" type="xml">
			<config>
				<zone>urn:org:netkernel:mod:restassured:userconfig</zone>
			</config>
		</literal>
	</rootspace>

	<rootspace uri="urn:org:netkernel:mod:restassured::doc" public="true">
		<fileset>
			<regex>res:/etc/system/(Docs|Books).xml</regex>
		</fileset>
		<fileset>
			<regex>res:/org/netkernel/mod/restassured/doc/.*</regex>
		</fileset>
	</rootspace>
</module>
